profilPage {

}

.profil_tailleDateModif {
	font-size: 12px;
}

.profil_titre1 {
	margin-left: 15px; 
	padding-top : 5px;
	display: block;
}

.profil_titre2 {
	margin-left: 15px; 
	padding-top : 8px;
	display: block;
}

.profil_infoPerso_label {
	color : black!important;
}

.profil_input_right .text-input{
	text-align: right!important;
}