glossairePage {

}

.exe_header {
	background: #81CFE0!important;
	color: black!important;
}
.exe_item {
	background: #C5EFF7;
}
.exe_listExe {
	margin-top : 30px;
}
.exe_divExe {
	background: #C5EFF7; 
	margin-top: 10px;
}
