ajouterExerciceEntrainementPage {

}

.aEE_boutonAjouter  {
	width: 35px;
	height: 35px!important;
	font-weight: bold!important;
	/*background: #EF340F; */
	
	padding-left: 5px!important;
	padding-right: 5px!important;
}