entrainementsPage {}

.ent_conteneur {
	background: #C5EFF7;
	margin: -20px;
	padding: 15px;
	float: left;
}
.right {
	text-align: right;
}
.ent_calendar {

}

.ent_duree {
	margin-left: 30px
}
.ent_ajouter {
	float: right;
}
.ent_titreListe {
	padding-top: 8px;
	padding-bottom: 20px;
	float: left;
	font-size: 20px;
	font-weight: bold;
}
.ent_conteneurTitre {
	float: left;
	width: 100%;
}
.ent_icone {
	font-size: 50px;
	padding-left: 20px;	
}
